//PRECISA IMPORTAR TODOS OS CONTROLLERS E SERVICES DO FRONT-END AQUI!

!!! 5
html(lang='pt-br')

	head

		meta(charset="UTF-8")



		link(href='styles/main.css', rel="stylesheet")
		link(href='styles/principal.css', rel="stylesheet")

		script(src='scripts/jquery.min.js')
		script(src='scripts/angular.min.js')
		script(src='scripts/angular-route.min.js')
		script(src='scripts/underscore-min.js')
		script(src='scripts/bootstrap.min.js')
		script(src='scripts/ui-bootstrap.min.js')
		script(src='scripts/ui-bootstrap-tpls.min.js')
		script(src='scripts/angular-animate.min.js')
		script(src='scripts/angular-cookies.min.js')
		script(src='scripts/mask.min.js')
		script(src='scripts/angular-input-masks-standalone.min.js')
		script(src='scripts/angular-messages.min.js')



		title Gerenciamento de usuários
		link(rel='shortcut icon', href='http://cdn.onlinewebfonts.com/svg/img_320473.png')

		style(type='text/css').
			body {
				font-family: monospace;
			}



	body(ng-app="appModule", ng-controller="AppCtrl", ng-cloak)


			//Header
			include header

			//Conteúdo da página
			.container(ng-view)

			//Footer
			include footer
	
	//-<!-- build:js  scripts/scripts.min.js -->
	
	script(src='scripts/app.js')

	script(src='scripts/utils/request.js')

	script(src='scripts/services/gestaoService.js')

	script(src='scripts/controllers/gestao.js')


	//-<!-- endbuild -->
